# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Xcode
xcuserdata/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bach libraries
Study/DerivedData
Study/Betatron/Src/Lib/Eigen
Study/Betatron/Src/Lib/boost
Study/Betatron/Src/Lib/asio
Study/Betatron/Src/Lib/jsoncpp-master

# XCode
Study/Study.xcworkspace/xcuserdata
Study/Study.xcworkspace/xcshareddata
Study/Betatron/Betatron.xcodeproj/xcuserdata
Study/Betatron/build

# Inductance
Inductance/lib/bower_components


logs/*
!.gitkeep
.idea
.DS_Store
.sass-cache
src/lib/bower_components
src/npm-debug.log
node_modules/

# Office/Excel
~*

