# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bach libraries
Study/Betatron/Src/Lib/Eigen
Study/Betatron/Src/Lib/boost
Study/Betatron/Src/Lib/asio-1.10.2
Study/Betatron/Src/Lib/jsoncpp-master

# XCode
Study/Study.xcworkspace/xcuserdata
Study/Study.xcworkspace/xcshareddata
Study/Betatron/Betatron.xcodeproj/xcuserdata
