body {
  background-color: black; }

/***
 *
 */
.page-title {
  position: absolute;
  left: 21px;
  top: 10px;
  color: white;
  font-family: "Raleway", sans-serif; }
  .page-title .subtitle {
    font-weight: 100; }

.scene-container {
  position: absolute;
  left: 240px;
  top: 22px;
  box-sizing: border-box;
  margin: 10px auto;
  width: 1100px;
  height: 650px;
  border: #f2995f 1px solid; }

/***
 * Shear SCSS file.
 */
.page-title {
  color: white;
  font-family: "Raleway", sans-serif; }
  .page-title .subtitle {
    font-weight: 100; }

.shear-controls {
  position: absolute;
  box-sizing: border-box;
  top: 124px;
  left: 20px;
  width: 200px;
  height: 400px;
  background-color: #32455a;
  border: solid 1px #e19241;
  padding: 10px 10px; }

.shear-stats {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px; }
  .shear-stats .line .shear-label {
    display: inline-block;
    width: 120px; }
  .shear-stats .line .shear-value {
    display: inline-block;
    width: 100px; }

label {
  color: white;
  font-weight: 300;
  margin-top: 10px; }

.shear-canvas-container {
  position: relative;
  box-sizing: border-box;
  margin: 10px auto;
  background-color: #364a61;
  width: 1100px;
  height: 650px;
  border: black 1px solid; }

/***
 * Animations SCSS file.
 */
.animation-controls {
  position: absolute;
  box-sizing: border-box;
  top: 33px;
  left: 20px;
  width: 200px;
  height: 80px;
  background-color: #32455a;
  border: solid 1px #e19241;
  padding: 10px 10px; }
