/***
 *
 */

.page-title {
  position: absolute;
  left: 21px;
  top: 10px;
  color: $theme-white;
  font-family: "Raleway", sans-serif;
  .subtitle {
    font-weight: 100;
  }
}
.scene-container {
  position: absolute;
  left: 2*$shear-controls-horiz-margin+$shear-controls-width;
  top: 22px;
  box-sizing: border-box;
  margin: 10px auto;
  width: $scene-width;
  height: $scene-height;

  border: $theme-medium-sharp 1px solid;
}

