body {
  background-color: #555459; }

.page-title {
  color: white;
  font-family: "Raleway", sans-serif; }
  .page-title .subtitle {
    font-weight: 100; }

.scene-container {
  box-sizing: border-box;
  margin: 10px auto;
  width: 900px;
  height: 700px;
  border: #f2ddb6 1px solid; }
