$theme-white: #FFFFFF;
$theme-background: #fcfaf7;
$theme-black: #0D0D0D;
$theme-light: #F2DDB6;
$theme-medium-bland: #D9B991;
$theme-dark: #555459;
$theme-medium-sharp: #F2995F;

$scene-width: 900px;
$scene-height: 700px;

body {
  background-color: $theme-light;
}

.page-title {
  color: $theme-white;
  font-family: "Raleway", sans-serif;
  .subtitle {
    font-weight: 100;
  }
}

.shear-controls {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 200px;
  height: 500px;
  background-color: darken($theme-background, 2%);
  border: solid 1px $theme-dark;
  padding: 10px 10px;
}

.shear-stats {
  position: absolute;
  top: 10px;
  left: 10px;
  .line {

    .shear-label {
      display: inline-block;
      width: 120px;
    }
    .shear-value {
      display: inline-block;
      width: 100px;
    }
  }
}

.shear-canvas-container {
  position: relative;
  box-sizing: border-box;
  margin: 10px auto;
  background-color: $theme-background;
  width: $scene-width;
  height: $scene-height;

  border: $theme-dark 1px solid;
}

