/***
 * Shear SCSS file.
 */

.page-title {
  color: $theme-white;
  font-family: "Raleway", sans-serif;
  .subtitle {
    font-weight: 100;
  }
}

.shear-controls {
  position: absolute;
  box-sizing: border-box;
  top: $shear-controls-vert-margin;
  left: $shear-controls-horiz-margin;
  width: $shear-controls-width;
  height: 500px;
  background-color: darken($theme-background, 2%);
  border: solid 1px #e19241;
  padding: 10px 10px;
}

.shear-stats {
  color: $theme-white;
  position: absolute;
  top: 10px;
  left: 10px;
  .line {

    .shear-label {
      display: inline-block;
      width: 120px;
    }
    .shear-value {
      display: inline-block;
      width: 100px;
    }
  }
}

label {
  color: $theme-white;
  font-weight: 300;
  margin-top: 10px;
}

.shear-canvas-container {
  position: relative;
  box-sizing: border-box;
  margin: 10px auto;
  background-color: $theme-background;
  width: $scene-width;
  height: $scene-height;

  border: $theme-dark 1px solid;
}

